

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-wrapper{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 700px;
}

#grid div { /* go over the video TOMORROW */
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 100px;
  width: 100px;
}

h1, h3 {
margin: 0 auto;
}

#start {
  padding: 20px;
}

.player1image {
  background-image: url(../Assets/troycommunity.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.player2image {
  background-image: url(../Assets/abedcommunity.png);
  background-repeat: no-repeat;
  background-position: center;
}